# Development files
.eslintrc.js
/.editorconfig
/.eslintignore
/.gitattributes
/.github
/.travis.yml
/test

# Coverage created files
/.nyc_output
/coverage

# Arduino packages
/firmwares
/tools
/dist

# Exclude already built packages from testing with npm pack
/scratch-arduino-link-*.{tar,tgz}
