.app{
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

.logo{
    max-width: 7rem;
    max-height: 7rem;
    display: table-cell;
    text-align: center;
    margin: auto;
}

.info{
    margin: 1.5rem;
    text-align: center;
}

.foot{
    display: inline-block;
    /* text-align: center; */
}

.foot-logo{
    max-width: 2rem;
    max-height: 2rem;
    /* float: left; */
}